header {
    width: 100%;
}

header a {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}
#CatMash_logo {
  animation: rotation 8s infinite linear;
  width : 20vw;
  margin: 1rem;
  margin-bottom: 0.5rem;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

header a h1 {
	text-align: center;
	text-transform: uppercase;
	color: #233869;
	font-size: 4vw;
	font-weight: 700;
	margin: 0;
}

#main-div {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 1vh;
}

#main-div h2{
	font-size: 2rem;
	color: #233869;
}

#cats-div {
	max-width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

#cats-div .cat { 
	width: 25vw;
	margin: 1vw;
}

#cats-div img {
	width: 25vw; 
	height: 25vw; 
	object-fit: cover;
  	border-radius: 50%;
}

#cats-div p {
	font-size: 4vh;
	margin: 1vh 0;
	text-align: center;
}

/* ===== Paging ===== */
#pages-nav {
    padding: 0.25rem; 
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

#pages-nav a {
    border: 1px solid white;
    border-radius: 2px;
    background-color: white;
    text-decoration: None;
    color: black;
    font-size: 1rem;
    display: inline-block;
    padding: 0.2rem 0.5rem;
    margin: 0 0.25rem;
}

#pages-nav a:not(.desac) {
    border: 1px solid #233869;
    color: white;
    background-color: #233869;
}

#pages-nav a.desac {
    color: #D1D1D1;
}

#pages-nav a.active {
	border: 1px solid white;
    background-color: white;
    color: black;
}

#pages-nav a.desac:hover {
	border: 1px solid white;
    background-color: white;
}

#pages-nav .number:not(.active) {
	display: none;
}

/* ===== Paging ===== */

footer {
    width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 4vh;
}

footer #bottom-tab {
	height: 5.5vh;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	text-decoration: none;
	color: #233869;
	background-color: white;
	border-radius: 1rem ;
	box-shadow: 0 0 0.5rem 0 #DEE5F4;
}

footer #bottom-tab h3 {
	font-size: 1rem;
	font-weight: 600;
	margin: 0 3rem;
}

footer #bottom-tab p {
	margin: 0.5rem;
	text-align: center;
	font-size: 0.8rem; 
}

@media screen and (min-width: 768px) {

	#CatMash_logo {
	  animation: rotation 8s infinite linear;
	  width : 5rem;
	  margin: 1rem;
	  margin-bottom: 0.5rem;
	}

	header a h1 {
		font-size: 1rem;
	}

	#cats-div {
	    margin-bottom: 4vh;
	}

	#cats-div .cat { 
		width: 20vh;
		margin: 1vh;
	}

	#cats-div img {
		width: 20vh; 
		height: 20vh; 
		object-fit: cover;
	  	border-radius: 50%;
	}

	#cats-div p {
		font-size: 1rem;
	}


	/* ===== Paging ===== */

	#pages-nav {
	    padding: 0.25rem; 
	    margin-bottom: 5rem;
	}

	#pages-nav a {
	    font-size: 1rem;
	    padding: 0.2rem 0.5rem;
	    margin: 0 0.25rem;
	    color: black;
	}

	#pages-nav a:not(.desac) {
	    border: 1px solid white;
	    color: black;
	    background-color: white;
	}

	#pages-nav a.active {
	    border: 1px solid #233869;
	    background-color: #233869;
	    color: white;
	} 

	#pages-nav a:hover:not(.active) {
	    border: 1px solid #DEE5F4;
	    background-color: #DEE5F4;
	} 

	#pages-nav .number:not(.active) {
		display: flex;
	}

	/* ===== Paging ===== */


	footer {
		position: fixed;
		bottom: -4.5vh;
		z-index: 1;
		margin-bottom: 0;

		-webkit-transition: bottom 0.5s ease-out;
	  	-moz-transition: bottom 0.5s ease-out;
	  	-ms-transition: bottom 0.5s ease-out;
	  	-o-transition: bottom 0.5s ease-out;
		transition: bottom 0.5s ease-out;
	}

	footer:hover {
		bottom: 0vh;
	}

	footer #bottom-tab {
		border-radius: 1rem 1rem 0 0;
	}

}

@media screen and (min-width: 1000px) {

	#cats-div {
		max-width: 70%;
	}

}