header {
	position: absolute;
    width: 100%;
	z-index: 1;
}

header a {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}

#CatMash_logo {
  animation: rotation 8s infinite linear;
  width : 10rem;
  margin: 1rem;
  margin-bottom: 0.5rem;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

header a h1 {
	text-align: center;
	text-transform: uppercase;
	color: #233869;
	font-weight: 700;
	margin: 0;
}

#main-div{
	display: flex;
}

.cat {
	width: 50%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center; 
}

.cat:hover {
	background-color: #DEE5F4;
}

.cat img{
	width: 30vh; 
	height: 30vh; 
	object-fit: cover;
  	border-radius: 50%;
}

footer {
	position: absolute;
	bottom: 0;
    width: 100%;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

footer #bottom-tab {
	height: 5.5vh;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	text-decoration: none;
	color: #233869;
	background-color: white;
	border-radius: 1rem 1rem 0 0;
	box-shadow: 0 0 0.5rem 0 #DEE5F4;

	-webkit-transition: height 0.5s ease-out;
  	-moz-transition: height 0.5s ease-out;
  	-ms-transition: height 0.5s ease-out;
  	-o-transition: height 0.5s ease-out;
	transition: height 0.5s ease-out;
}

footer #bottom-tab:hover{
	height: 7vh;
}


footer #bottom-tab h3 {
	font-size: 1rem;
	font-weight: 600;
	margin: 0 3rem;
}

footer #bottom-tab p {
	margin: 0.5rem;
	text-align: center;
	font-size: 0.8rem; 
}