header {
    width: 100%;
    margin-bottom: 1rem;
}

header a {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}

#CatMash_logo {
  animation: rotation 8s infinite linear;
  width : 20vw;
  margin: 1rem;
  margin-bottom: 0.5rem;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

header a h1 {
	text-align: center;
	text-transform: uppercase;
	color: #233869;
	font-size: 4vw;
	font-weight: 700;
	margin: 0;
}

#main-div{
	display: flex;
	flex-direction: column;
	margin-bottom: 2vh;
}

#main-div form {
	display: contents;
}

.cat {
	width: 100%;
	display: flex;
	justify-content: center;
}

.first.cat {
	align-items: flex-end;
}
.second.cat {
	align-items: flex-start;
}

.cat:hover {
	background-color: #DEE5F4;
}

.cat img{
	width: 25vh; 
	height: 25vh; 
	object-fit: cover;
  	border-radius: 50%;
  	cursor: pointer;
  	padding: 2vh; 
}

[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

footer {
    width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 2vh;
}

footer #bottom-tab {
	height: 5.5vh;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	text-decoration: none;
	color: #233869;
	background-color: white;
	border-radius: 1rem;
	box-shadow: 0 0 0.5rem 0 #DEE5F4;
}

footer #bottom-tab h3 {
	font-size: 1rem;
	font-weight: 600;
	margin: 0 3rem;
}

footer #bottom-tab p {
	margin: 0.5rem;
	text-align: center;
	font-size: 0.8rem; 
}

@media screen and (min-width: 600px) {

	header {
		position: absolute;
		z-index: 1;
		margin: 0;
	}

	#CatMash_logo {
	  width : 10rem;
	}

	header a h1 {
		font-size: 2rem;
	}

	#main-div{
		flex-direction: row;
		height: 100vh;
	}

	.cat{
		width: 50%;
		height: 100vh;
	}

	.first.cat{
		align-items: center;
	}

	.second.cat{
		align-items: center;
	}

	.cat img{
		width: 30vh; 
		height: 30vh; 
	}

	footer {
		position: absolute;
		bottom: 0;
		z-index: 1;
		margin-bottom: 0;
	}

	footer #bottom-tab {
		border-radius: 1rem 1rem 0 0;
		-webkit-transition: height 0.5s ease-out;
	  	-moz-transition: height 0.5s ease-out;
	  	-ms-transition: height 0.5s ease-out;
	  	-o-transition: height 0.5s ease-out;
		transition: height 0.5s ease-out;
	}

	footer #bottom-tab:hover{
		height: 7vh;
	}

}